.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.p{
  color: red;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-header {
  background-color: #004b97;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #19b873;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

label {
  font-family: 'Arial', sans-serif; /* Change to your preferred font */
  font-size: 16px; /* Adjust size */
  font-weight: bold; /* Make it bold if needed */
  color: #aba1a1; /* Change text color */
}

button {
  margin-left:1%;
  margin-top: 20px;
  font-family: 'Courier New', monospace; /* Different font for button */
  font-size: 18px;
  font-weight: bold;
  background-color: #4CAF50; /* Green button */
  color: white; 
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049; /* Slightly darker on hover */
}
